@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEf9BF;
}   
header{
    margin:20px;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    color: rgba(117, 183, 158, 1);
    text-align: center;
}
footer{
    margin:20px;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    color: rgba(117, 183, 158, 1);
    text-align: center;
}
.game-board{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin:20px
}
.card{
    background-color: rgba(167, 233, 175, 1);
    width:120px;
    height:150px;
    margin: 20px;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    transition: all .5s;
}
.card :nth-child(2){
    display: none;
}
.card.front {
    transform: rotateY(180deg);
  }

.card.front :nth-child(2){
    display: inline;
  }
.card.front :nth-child(1){
    display: none;
}
.card img{
    width: 100px;
}
.hidden{
    display: none;
}
@media screen and (min-width:768px) {
    header{
        font-size: 56px;
        line-height: 66px;
    }
    .game-board{
        width: 65vw;
        flex-direction:row;
        justify-content: center;
    }

}